@font-face {
    font-family: Norse;
    src: url('Norse-Bold.otf');
  }


body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
    font-family: 'Open Sans', sans-serif;

}

.left {
    width: 40%;
    height: 100%;
    background-image: url('background.jpg');
    background-size: cover;
}

.right {
    background:rgba(0, 0, 0, 0.05);
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.right-top {
    width: 75%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.right-top > h3 {
    margin-left: 1em;
}

.right-top h3:last-of-type{
    margin-bottom: 1.5em;
    font-style: italic;
}

.right-bottom {
    width: 100%;
    height: 35%;
}

.right-middle {
    width: 100%;
    height: 30%;
    background-color: white;
    box-shadow: gray 0px 0px 5px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-middle > h2 {
    margin-left: 2rem;
    margin-bottom: 0rem;
}

form {
    display: grid;
    grid-template-columns: 35% 35%;
    gap: 5%;
    place-content: center start;
    margin-left: 2rem;
    height: 100%;
}

.left-middle {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-top {
    width: 100%;
    height: 20%;
}

.left-bottom {
    width: 100%;
    height: 65%;
}

.left-middle > h1 {
    color: white;
    font-size: 50px;
    font-family: Norse;
}

.left-middle > img {
    height: 90%;
}

.formInput {
    display: flex;
    flex-direction: column;
}

.formInput > label {
    font-size: 0.70rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
}

.formInput > input {
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0.20rem;
}

.formInput > input:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 255, 0.6);
}

button {
    background-color: #0b7dda;
    border: none;
    color: white;
    padding: 0.5rem 2rem;
    text-align: center;
    margin: 1.5rem 0rem 0rem 2rem;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: blue;
    transition: 0.5s;
}

p {
    margin-left: 2rem;
    font-size: 0.70rem;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
}

p > a {
    color: #0b7dda;
    text-decoration: none;
}